@import 'fonts';

$fg: #3C0047;
$bg: #FF8080;

html,
body {
	height: 100%;
}

body {
	// -webkit-font-smoothing: antialiased;

	// font-family: 'Example';
	// font-weight: normal;
	// font-size: 24px;
	// line-height: 1.3em;

	// color: $fg;
	// background-color: $bg;
}
